# The directory Mix will write compiled artifacts to.
/_build

# If you run "mix test --cover", coverage assets end up here.
**/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore Intellij project
.idea/
*.iml

# Ignore priv dir
apps/aecore/priv/*
!apps/aecore/priv/genesis/

# Ignore Cuckoo c_src
apps/aecore/src/cuckoo/c_src/
apps/aecore/src/c_src/

# Ignore Logs created by aecore
apps/aecore/logs

# Ignore linter directories
.elixir_ls/

# Ignore ethereum VM tests
/aevm_external/
