[
  { epoch, [
  ]},

  { aehttp, [
      {external, [
          {acceptors, 10},
          {port, CONF_HTTP_PORT}
          ]},
      {internal, [
          {acceptors, 10},
          {port, CONF_INTERNAL_PORT},
          {websocket, [ {port, CONF_INTERNAL_WEBSOCKET_PORT},
                        {tasks, 200},
                        {handlers, 100}
                      ]}
          ]},
      {channel, [
          {websocket, [ {port, CONF_CHANNEL_WEBSOCKET_PORT},
                        {handlers, 100},
                        {listen_address, <<"0.0.0.0">>}
                      ]}
          ]},
      {enable_debug_endpoints, true} %% CAUTION: Debug endpoints may be inefficient
  ]},

  {aecore, [
      {sync_port, CONF_SYNC_PORT},

      {peers, []},

      {metrics_port, 0},
      {password, <<"secret">>},
      {db_path, "CONF_TMP_DIR/db"},
      {persist, false},
      {autostart, false},
      {aec_pow_cuckoo, {"mean28s-generic", "-t 5", 28}}
    ]
  },

  {jobs,
   [{queues,
     [{sync_ping_workers, [{regulators, [{counter, [{limit, 3}]}]}]},
      {sync_task_workers, [{regulators, [{counter, [{limit, 10}]}]}]},
      {sync_gossip_workers, [{regulators, [{counter, [{limit, 10}]}]}]},

      {ws_task_workers, [{regulators,
                      [{counter, [{limit, 100 }] }
                      ]}
                    ]}
     ]}
   ]},

  {lager, [
      {error_logger_flush_queue, false},
      {handlers, [
          {lager_file_backend,
            [{file, "CONF_TMP_DIR/log/epoch.log"}, {level, debug},
             {size, 4194303}, {date, "$D0"}, {count, 10}]}
      ]},
      {extra_sinks, [
           {epoch_mining_lager_event, [
             {handlers, [
               {lager_file_backend, [
                  {file, "CONF_TMP_DIR/log/epoch_mining.log"},
                  {level, debug},
                  {size, 4194303}, {date, "$D0"}, {count, 3}
               ]}
             ]}
           ]},
           {epoch_pow_cuckoo_lager_event, [
             {handlers, [
               {lager_file_backend, [
                  {file, "CONF_TMP_DIR/log/epoch_pow_cuckoo.log"},
                  {level, debug},
                  {size, 4194303}, {date, "$D0"}, {count, 3}
               ]}
             ]}
           ]},
           {epoch_metrics_lager_event, [
             {handlers, [
               {lager_file_backend, [
                  {file, "CONF_TMP_DIR/log/epoch_metrics.log"},
                  {level, debug},
                  {size, 4194303}, {date, "$D0"}, {count, 3},
                  {formatter, lager_default_formatter},
                  {formatter_config, [time, " ", message, "\n"]}
               ]}
             ]}
           ]},
           {epoch_sync_lager_event, [
             {handlers, [
                {lager_console_backend, [{level, info}]},
                {lager_file_backend, [
                  {file, "CONF_TMP_DIR/log/epoch_sync.log"}, {level, debug},
                  {size, 4194303}, {date, "$D0"}, {count, 3}
               ]}
             ]}
           ]}
      ]}
  ]},

  {mnesia, [{dir, "CONF_TMP_DIR/data/mnesia"}]},

  {setup, [
           {abort_on_error, true},
           {data_dir, "CONF_TMP_DIR/data"},
           {log_dir, "CONF_TMP_DIR/log"}
          ]}
].
